#submit {
    color: white;
    padding: 12px 188px;
    background-color: darkblue;
    border-radius: 100px;

}
body {
    background-color: aqua;
}
#heade {
    text-align-last: center;
    background-color: blueviolet;
    color: white;

}

